body{
	font-family: Tahoma, sans-serif;
}
.box{ 
	width: 376px; 
	height: 526px;
	margin: auto;
	border: 2px solid rgb(90, 90, 90);
	}
h2{
	font-size: 22px;
	text-align: center;
	font-weight: 500;
	width: 330px;
	margin: 9px auto 22px;

}
.lenovo{
	text-align: center;
}
.installments{
	font-size: 22px;
	height: 31px; 
	width: 190px;
	background-color: rgb(139, 193, 68);
	text-align: center;
	color: #fff;
	box-shadow: -3px 3px 3px rgb(156, 156, 156);
}
.price{
	font-size: 31px;
	text-align: center;
	font-weight: 500;
	margin: 17px 0 21px 0;
	line-height: 22px;
}
.buy{
	font-size: 28px;
	text-shadow: -2px 2px 2px rgb(34, 0, 0);
	height: 46px; 
	width: 229px;
	background-color: rgb(255, 0, 0);
	text-align: center;
	box-shadow: 0 4px 2px rgb(133, 0, 0);
	margin: 0 0 3px 62px;
	color: #fff;
	border: none;
}